{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block content %}

    <div class="container">
      <div class="card">
        <h4 class="card-header">Add a new topic:</h4>
        <div class="card-body">
          <form class="card-text" action="{% url 'learning_logs:new_topic' %}" method='post'>
            {% csrf_token %}
            {% bootstrap_form form %}
          
            {% buttons %}
            <button name="submit" class="btn btn-primary" class="card-footer">Add topic</button>
            {% endbuttons %}
          </form>
        </div> 
      </div>
    </div>
{% endblock content %}